@import '../../style/themes/index';
@import '../../style/mixins/index';

@field-prefix-cls: ~'@{uni-prefix}-field';

.@{field-prefix-cls} {
  height: 52px;
  display: flex;
  align-items: center;
  background: #F5F6F6;
  border-radius: 6px;
  padding: 15px 16px;
  color: #1C1D1D;
  font-size: 16px;
  &-md {
    height: 44px;
    padding: 12px 16px;
    font-size: 14px;
  }
  &-sm {
    font-size: 14px;
    height: 32px;
    padding: 6px 12px;
    border-radius: 4px;
  }

  .@{field-prefix-cls}-left-icon, .@{field-prefix-cls}-right-icon {
    color: #646566;
    font-size: 16px;
  }

  &-password {
    font-size: 16px;
    .@{field-prefix-cls}-left-icon {
      font-size: 24px;
      color: #A6A8A9;
    }
  }
  .@{field-prefix-cls}-left-icon {
    margin-right: 4px;
  }
  &-default {
    .@{field-prefix-cls}-left-icon {
      font-size: 24px;
      margin-right: 8px;
    }
  }
  input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: inherit;
    caret-color:@primary-color;
    &::placeholder {
      color: #C8CCCC;
    }
  }
}

.@{field-prefix-cls}-border {
  border: 1px solid #C8CCCC;
  background: @white;
  input {
    background: inherit;
  }
}

.@{field-prefix-cls}-focus {
  border-color: #1C1D1D;
}

.@{field-prefix-cls}-error {
  border-color: #CA0118;
  background: #FFEBEF;
  color: #CA0118;
  .@{field-prefix-cls}-left-icon {
    color: #CA0118;
  }
  input {
    background: inherit;
  }
}

.@{field-prefix-cls}-textarea {
  height: unset;
  min-height: 32px;
  background: #F5F6F6;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  .@{field-prefix-cls}-word-limit {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    bottom: 5px;
    right: 12px;
    color: #A6A8A9;
  }
  &-icon {
    font-size: 16px;
    color: #C8CCCC;
    margin-right: 4px;
    vertical-align: top;
    margin-top: -2px;
  }
  textarea {
    width: 100%;
    border: none;
    background: inherit;
    border-radius: 4px;
    outline: none;
    caret-color:@primary-color;
    &::placeholder {
      color: #C8CCCC;
    }
  }
}

.@{field-prefix-cls}-textarea-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.@{field-prefix-cls}-showWordLimit {
  position: relative;
  padding-bottom: 25px;
}
