@import '../../style/themes/index';
@import '../../style/mixins/index';

@field-prefix-cls: ~'@{uni-prefix}-field';

.@{field-prefix-cls} {
  height: 52px;
  display: flex;
  align-items: center;
  background: #F5F6F6;
  border-radius: 6px;
  padding: 15px 16px;
  color: #1C1D1D;
  .@{field-prefix-cls}-left-icon, .@{field-prefix-cls}-right-icon {
    color: #646566;
    font-size: 19px;
  }
  .@{field-prefix-cls}-left-icon {
    margin-right: 10px;
  }
  .@{field-prefix-cls}-right-icon {
    margin-left: 10px;
  }
  input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: inherit;
    caret-color:@primary-color;
    &::placeholder {
      color: #C8CCCC;
    }
  }
}

.@{field-prefix-cls}-border {
  border: 1px solid #C8CCCC;
  background: @white;
  input {
    background: inherit;
  }
}

.@{field-prefix-cls}-focus {
  border-color: #1C1D1D;
}

.@{field-prefix-cls}-error {
  border-color: #CA0118;
  background: #FFEBEF;
  color: #CA0118;
  .@{field-prefix-cls}-left-icon {
    color: #CA0118;
  }
  input {
    background: inherit;
  }
}

.@{field-prefix-cls}-textarea {
  height: unset;
  background: #F5F6F6;
  padding: 0 12px;
  border-radius: 4px;
  .@{field-prefix-cls}-word-limit {
    height: 16px;
    line-height: 16px;
    position: absolute;
    bottom: 5px;
    right: 12px;
    color: #A6A8A9;
  }
  textarea {
    width: 100%;
    border: none;
    background: inherit;
    border-radius: 4px;
    outline: none;
    caret-color:@primary-color;
  }
}

.@{field-prefix-cls}-showWordLimit {
  position: relative;
  padding-bottom: 25px;
}
