@import "../../style/themes/index";
@import "../../style/mixins/index";

@tab: ~"@{uni-prefix}-tab";

@tab-overlay-left: ~"@{tab}-overlay-left";
@tab-overlay-right: ~"@{tab}-overlay-right";
@tab-content: ~"@{tab}-content";
@tab-item: ~"@{tab}-item";
@tab-tab: ~"@{tab}-tab";
@tab-dot: ~"@{tab}-dot";
@tab-line: ~"@{tab}-line";
@tab-normal: ~"@{tab}-normal";
@tab-card: ~"@{tab}-card";
@tab-label: ~"@{tab}-label";
@tab-task: ~"@{tab}-task";
@tab-scroll: ~"@{tab}-scroll";
@tab-fixed: ~"@{tab}-fixed";
@tab-active: ~"@{tab}-active";
@tab-title: ~"@{tab}-title";
@tab-num: ~"@{tab}-num";
@tab-weight1: ~"@{tab}-weight1";
@tab-weight2: ~"@{tab}-weight2";
@tab-overflow: ~"@{tab}-overflow";

.@{tab} {
  position: relative;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-flow: column nowrap;
  font-weight: 400;
  font-family: PingFangSC-Regular;

  & > .@{tab-overlay-left},
  & > .@{tab-overlay-right} {
    position: absolute;
    top: 0;
    width: 16px;
  }

  & > .@{tab-overlay-left} {
    left: 0;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255,1));
  }

  & > .@{tab-overlay-right} {
     right: 0;
     background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255,1));
  }

  & > .@{tab-content} {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  & > .@{tab-tab} {
    background-color: #FFFFFF;

    & > .@{tab-content} > .@{tab-item} {
      position: relative;
      user-select: none;
      cursor: pointer;

      & > .@{tab-dot} {
        width: 6px;
        height: 6px;
        border: 2px solid #F31D39;
        border-radius: 3px;
        position: absolute;
        top: -2px;
        right: -6px;
      }
    }

    & > .@{tab-line} {
      border-radius: 4px;
      background-color: #F31D39;
      margin-top: 4px;
      height: 4px;
      width: 16px;
    }
  }

  & > .@{tab-tab}.@{tab-scroll} {
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display:none
    }

    & > .@{tab-content} {
      white-space: nowrap;

      & > .@{tab-item} {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  & > .@{tab-tab}.@{tab-fixed} {
    & > .@{tab-content} {
      display: flex;
      justify-content: space-around;
    }
  }

  & > .@{tab-tab}.@{tab-normal},
  & > .@{tab-tab}.@{tab-normal}.@{tab-line} {
    font-size: 16px;
    line-height: 22px;

    & > .@{tab-content} {
      & > .@{tab-item}:first-of-type { margin-left: 16px; }
      & > .@{tab-item}:last-of-type {margin-right: 16px; }
      & > .@{tab-item} { color: #A6A8A9; }
      & > .@{tab-item} + .@{tab-item} { margin-left: 20px; }
      & > .@{tab-item}.@{tab-active} { color: #1C1D1D; }
    }
  }

  & > .@{tab-tab}.@{tab-normal} {  padding: 14px 0px; }
  & > .@{tab-tab}.@{tab-normal}.@{tab-line} { padding: 12px 0 10px 0; }

  & > .@{tab-tab}.@{tab-card} {
    font-size: 14px;
    padding: 10px 12px;

    & > .@{tab-content} {
      padding: 2px;
      border-radius: 4px;
      background-color: #F5F6F6;

      & > .@{tab-item} {
        flex: 1;
        padding: 4px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
      }

      & > .@{tab-item}.@{tab-active} { background-color: #fff; }
    }
  }

  & > .@{tab-tab}.@{tab-label} {
    font-size: 12px;
    padding: 8px 0;

    & > .@{tab-content} {
      padding: 0px 2px;
      border-radius: 8px;

      & > .@{tab-item} {
        padding: 1px 8px;
        border-radius: 20px;
        background-color: #F5F6F6;
        color: #646566;
      }

      & > .@{tab-item}:first-of-type { margin-left: 12px; }
      & > .@{tab-item}:last-of-type {margin-right: 12px; }
      & > .@{tab-item} + .@{tab-item} { margin-left: 12px; }
      & > .@{tab-item}.@{tab-active} { color: #F31D39; }
    }
  }

  & > .@{tab-tab}.@{tab-task} {
    padding-top: 16px;
    height: 70px;
    margin-bottom: 0px;
    & > .@{tab-content} {

      & > .@{tab-item} {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        & > .@{tab-title} {
          font-weight: 400;
          color: #646566;
          font-size: 12px;
          height: 16px;
          margin-top: 4px;
        }
        & > .@{tab-num} {
          font-size: 24px;
          font-weight: bold;
          height: 24px;
          & > .@{tab-overflow} {
            font-size: 12px;
            vertical-align: top;
            margin-right: -12px;

            & svg { stroke-width: 50; }
          }
        }
      }

      & > .@{tab-item}.@{tab-weight1} {
        color: #C8CCCC;

        & svg { stroke: #C8CCCC; }
      }

      & > .@{tab-item}.@{tab-weight2} {
        color: #1C1D1D;

        & svg { stroke: #1C1D1D; }
      }

      & > .@{tab-item}.@{tab-active} {
        color: #F31D39;

        & svg { stroke: #F31D39; }
      }
    }
  }
}
