@import '../../style/themes/index';
@import '../../style/mixins/index';

@pullRefresh: ~'@{uni-prefix}-pull-refresh';

.@{pullRefresh} {
  width: 100%;
  overflow: hidden;
  &-head {
    color: @pull-refresh-color;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    transition: 'all 0.3s linear',
  }
}