@import '../../style/themes/index';
@import '../../style/mixins/index';

@dropDownMenu: ~'@{uni-prefix}-dropdown-menu';
@dropDownItem: ~'@{uni-prefix}-dropdown-item';

.@{dropDownMenu} {
  width: 100%;
  background-color: @dropdown-menu-bg;
  padding: 10px 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &-content {
    flex: 1;
    margin-right: 12px;
  }
  &-item {
    // flex: 1;
    height: 32px;
    border: @border-width-base @border-style-base @btn-default-border;
    border-radius: 3px;
    line-height: 16px;
    padding: 8px 12px;
    position: relative;
    &-text {
      display: inline-block;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:last-child {
      margin-right: 0px;
    }
    &-disabled {
      background-color: @dropdown-bg;
      border: 1px solid @dropdown-disabled-border;
      color: @dropdown-disabled-color;
    }
    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      cursor: pointer;
    }
  }
}

.@{dropDownItem} {
  position: fixed;
  z-index: 1000;
  display: none;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  &-show {
    display: block;
    opacity: 1;
    animation: opacityIn 0.3s linear;
  }
  &-hidden {
    opacity: 0;
    animation: opacityOut 0.3s linear;
  }
  &-content {
    width: 100%;
    max-height: 0;
    position: absolute;
    overflow-y: auto;
    z-index: 1001;
    &-show {
      animation: fadein 0.3s linear;
      max-height: 80%;
    }
    &-hidden {
      animation: fadeout 0.3s linear;
      max-height: 0;
    }
    &-inner {
      &-card {
        background-color: @dropdown-menu-bg;
        border-radius: 12px;
        margin: 0px 24px;
        padding: 12px;
        min-height: 50px;
      }
    }
    &-up {
      bottom: 0;
      left: 0;
    }
    &-current {
      width: 100%;
      height: 52px;
      padding: 0px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-selected {
        background-color: @dropdown-bg;
      }
    }
  }
}

@keyframes fadein {
  0% {
    height: 0;
    max-height: 0;
  }
  100% {
   max-height: 80%;
  }
}
@keyframes fadeout {
  0% {
    max-height: 80%;
  }
  100% {
   max-height: 0;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
   opacity: 0;
  }
}
