@import '../../style/themes/index';
@import '../../style/mixins/index';

@steps: ~'@{uni-prefix}-steps';

.@{steps} {
  width: 100%;
  &-item {
    width: 100%;
    display: flex;
    &-dot-content {
      margin-right: 24px;
      position: relative;
      &-icon {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: @steps-dot-bg;
      }
      &-line {
        position: absolute;
        top: 12px;
        bottom: 4px;
        width: 2px;
        left: 50%;
        transform: translateX(-1px);
        background-color: @steps-dot-bg;
      }
    }
    &-content {
      font-weight: 400;
      flex: 1;
      min-height: 70px;
      &-cardtitle {
        width: calc(100% - 32px);
        position: absolute;
        font-size: 16px;
        color: @steps-text-color;
        top: -32px;
        display: flex;
        justify-content: space-between;
      }
      &-title {
        font-size: 16px;
        color: @steps-text-color;
        display: flex;
        justify-content: space-between;
        &-sub {
          font-size: 12px;
          color: @steps-color;
        }
      }
      &-description {
        font-size: 12px;
        color: @steps-color;
        &-info {
          color: @steps-info-color;
        }
        &-success {
          color:@steps-success-color;
        }
        &-error {
          color: @steps-error-color;
        }
      }
      &-card {
        background-color: @steps-card-bg;
        border-radius: 36px;
        width: 100px;
        // margin-top: 8px;
        padding: 1px 0px 1px 2px;
        &-name {
          padding-left: 12px;
          color: @steps-card-color;
          font-weight: 400;
          line-height: 36px;
        }
      }
    }
  }
}