@import '../../style/themes/index';
@import '../../style/mixins/index';

@numberKeyboard: ~"@{uni-prefix}-number-keyboard";

.@{numberKeyboard} {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 16px;
  padding-bottom: 1.75em;
  background-color: @numberkey-bg;
  animation: fadein 0.3s linear;
  display: none;
  user-select: none;
  outline: none;
  &-show {
    display: block;
    max-height: 70%;
  }
  &-hidden {
    max-height: 0;
    animation: fadeout 0.3s linear;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-title {
      position: relative;
      height: 2.5em;
      width: 100%;
      text-align: center;
      line-height: 2.5em;
      color: @text-color;
      font-size: 1em;
      font-weight: 400;
    }
    &-complete {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1em;
      color: @numberkey-complete-color;
    }
  }
  &-content {
    width: 100%;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    &-number {
      flex: 1;
      flex-basis: 33%;
      box-sizing: border-box;
      color: @text-color;
      font-size: 1.75em;
      font-weight: 400;
      text-align: center;
      &-current {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        background-color: @number-key-current;
        border-radius: 0.5em;
        margin-top: 0.75em;
        margin-right: 0.75em;
        &:active {
          background-color: @numberkey-active-bg;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    max-height: 0px;
  }
  top {
    max-height: 70%;
  }
}

@keyframes fadeout {
  from {
    max-height: 70%;
  }
  top {
    max-height: 0;
  }
}