@import "../../style/themes/index";
@import "../../style/mixins/index";

@navbar: ~'@{uni-prefix}-navbar';

.@{navbar} {
  width: 100%;
  font-size: 16px;
  display: flex;
  background-color: @navbar-bg;
  align-items: center;
  height: 44px;
  padding: 0px 16px;
  color: @navbar-text-color;
  font-weight: 400;
  position: relative;
  &-left {
    display: flex;
    align-items: center;
    position: absolute;
    left: 16px;
    &-icon {
      font-size: 20px;
      color: #646566;
    }
    white-space: nowrap;
  }

  &-header {
    height: 60px;
    color: #1C1D1D;
    font-weight: 500;
    padding: 0px 16px;
    font-size: 20px;
    line-height: 28px;
    &-title {
      display: flex;
      flex: 1;
      align-items: center;
    }
    &-right {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
    }
  }
  &-title {
    // font-weight: 400;
    display: flex;
    height: 100%;
    max-width: 65%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    &-name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      line-height: 22px;
    }
  }
  &-right {
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}