@import "../../style/themes/index";
@import "../../style/mixins/index";

@navbar: ~'@{uni-prefix}-navbar';

.@{navbar} {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  min-height: 32px;
  padding: 0px 16px;
  color: #1C1D1D;
  font-weight: 400;
  &-home {
    justify-content: center;
    min-height: 34px;
    &-content {
      height: 5px;
      background: #000000;
      border-radius: 100px;
      width: 40%;
      margin-top: 10px;
    }
  }
  &-lg {
    min-height: 60px;
  }
  &-md {
    min-height: 52px;
  }
  &-sm {
    min-height: 44px;
  }
  &-title {
    font-weight: 500;
    display: flex;
    height: 100%;
    max-width: 80%;
    align-items: center;
    &-name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
    }
  }
}