@import "../../style/themes/index";
@import "../../style/mixins/index";

@skeleton: ~"@{uni-prefix}-skeleton";

@skeleton-circle: ~"@{skeleton}-circle";
@skeleton-square: ~"@{skeleton}-square";
@skeleton-round: ~"@{skeleton}-round";
@skeleton-avatar: ~"@{skeleton}-avatar";
@skeleton-content: ~"@{skeleton}-content";
@skeleton-paragraph: ~"@{skeleton}-paragraph";
@skeleton-title: ~"@{skeleton}-title";

.@{skeleton} {
  width: 100%;
  background-color: @white;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;

  .@{skeleton-circle} {
    border-radius: 50%;
  }

  .@{skeleton-square} {
    border-radius: 8px;
  }

  .@{skeleton-round} {
    border-radius: 4px;
  }

  .@{skeleton-avatar} {
    background-color: #EDEEEE;
  }

  .@{skeleton-content} {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .@{skeleton-avatar} + .@{skeleton-content} {
    margin-left: 12px;
  }

  .@{skeleton-title} {
    height: 16px;
    background-color: #EDEEEE;
  }

  .@{skeleton-title} + .@{skeleton-paragraph} {
    margin-top: 12px;
  }

  .@{skeleton-paragraph} {
    height: 12px;
    background-color: #EDEEEE;
  }

  .@{skeleton-paragraph} + .@{skeleton-paragraph} {
    margin-top: 8px;
  }
}
