@import "../../style/themes/index";
@import "../../style/mixins/index";

@swipe-cell: ~"@{uni-prefix}-swipe-cell";

.@{swipe-cell} {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;

  & > div {
    position: relative;
  }

  & > .content {
    width: 100%;
  }

  & > .left,
  & > .right {
    position: absolute;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    & > div {
      overflow: hidden;
    }
  }

  & > .left {
    left: 0;
  }

  & > .right {
    right: 0;
  }
}


