@import '../../style/themes/index';
@import '../../style/mixins/index';

@popup: ~'@{uni-prefix}-popup';


.@{popup} {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  font-size: 16px;
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: @popup-mask-bg;
    animation: fade 0.3s linear;
    opacity: 1;
    &-hidden {
      opacity: 0;
      transition: opacity 0.3s linear;
    }
  }
  &-content {
    position: fixed;
    background-color: @white;
    z-index: 2001;
    min-width: 3.75em;
    min-height: 3.75em;
    overflow: auto;
    &-header {
      min-height: 3.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: inherit;
      min-width: 3.75em;
      background-color: @white;
      font-size: 1em;
      border-bottom: 1px solid @popup-border-color;
      padding: 0px 0.75em;
      z-index: 20002;
      &:first-child {
        color: @popup-title-color;
        font-weight: 500;
      }
      &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1em;
        img {
          width: 1em;
        }
      }
    }
    &-body {
      width: 100%;
      margin: 5.25em 0px 5.75em 0px;
    }
    &-footer {
      width: inherit;
      display: flex;
      justify-content: center;
      align-content: center;
      position: fixed;
      bottom: 0;
      background-color: @white;
      min-height: 3.75em;
      min-width: 3.75em;
      z-index: 20002;
      padding: 0px 2em;
    }
    &-center {
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      &-round {
        border-radius: 1em;
      }
    }
    &-top {
      width: 100%;
      top: 0;
      left: 0;
      max-height: 80%;
      animation: maxHeight 0.3s linear;
      &-round {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }
      &-transition {
        max-height: 0;
        transition: max-height 0.3s linear;
      }
    }
    &-bottom {
      width: 100%;
      bottom: 0;
      left: 0;
      max-height: 80%;
      animation: maxHeight 0.3s linear;
      &-round {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      &-transition {
        max-height: 0;
        transition: max-height 0.3s linear;
      }
    }
    &-left {
      height: 100%;
      left: 0;
      top: 0;
      max-width: 80%;
      animation: maxWidth 0.3s linear;
      &-round {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
      }
      &-transition {
        max-width: 0;
        transition: max-width 0.3s linear;
      }
    }
    &-right {
      height: 100%;
      right: 0;
      top: 0;
      max-width: 80%;
      animation: maxWidth 0.3s linear;
      &-round {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
      }
      &-transition {
        max-width: 0;
        transition: max-width 0.3s linear;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0,
  };
  to {
    opacity: 1,
  }
};

@keyframes maxHeight {
  0% {
    max-height: 0px,
  };
  100% {
    max-height: 80%,
  }
}

@keyframes maxWidth {
  0% {
    max-width: 0px,
  };
  100% {
    max-width: 80%,
  }
}