@import "../../style/themes/index";
@import "../../style/mixins/index";

@uploader: ~"@{uni-prefix}-uploader";

.@{uploader} {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  user-select: none;

  & > .list {
    display: flex;
    flex-flow: column nowrap;

    & > .item + .item  { margin-top: 12px; }

    & > .item {
      height: 48px;
      display: flex;
      flex-flow: row nowrap;

      & > .icon {
        // font-size: 80px;
        // line-height: 1em;
      }

      & > .content {
        margin-left: 16px;
        flex: 1;
        width: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;

        & > div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow:ellipsis;
        }

        & > .name {
          font-size: 16px;
          color: #1C1D1D;
        }

        & > .progress {
          font-size: 12px;
          color: #A6A8A9;
        }
      }

      & > .delete,
      & > .preview {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }

      & > .preview { margin-left: 16px; }

      & > .delete { padding: 0px 16px; }
    }
  }

  & > .list + .icon {
    margin-top: 12px;
  }

  & > .list:empty + .icon {
    margin-top: 0;
  }

  & > .icon {
    align-self: start;
    user-select: none;
    cursor: pointer;

    & .icon {
      width: 48px;
      height: 48px;
      border: 1px dashed #DBDDDD;
      border-radius: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: #DBDDDD;
      background-color: rgb(246, 246, 246);
    }
  }
}
