@import '../../style/themes/index';


@popover: ~'@{uni-prefix}-pop-over-mobile';

.@{popover} {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  visibility: hidden;
  padding: 12px 36px;
  opacity: 0;
  color: rgb(0, 0, 0);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  &-show {
    visibility: visible;
    opacity: 1;
  }

  &-content {
    width: 100%;
    border-radius: 8px;
    background-color: inherit;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
  }
  &-arrow {
    position: absolute;
    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 10px;
      background: #fff;
      left: 5px;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      background: #fff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      transform: translate(0%, -50%) rotate(45deg);
    }

    &-topLeft {
      left: 12px;
      bottom: 0px;
      &::before {
        bottom: 0px;
        transform: translateX(-50%);
      }
      &::after {
        left: 0px;
      }
    }
    &-top {
      left: 50%;
      bottom: 0px;
      &::before {
        bottom: 0px;
        transform: translateX(-50%);
      }
    }
    &-topRight {
      right: 12px;
      bottom: 0px;
      &::before {
        bottom: 0px;
        transform: translateX(-100%);
      }
      &::after {
        right: 0px;
      }
    }
    &-bottom {
      left: 50%;
      top: 0px;
      &::before {
        top: 0px;
        transform: translateX(-50%);
      }
    }
    &-bottomLeft {
      top: 0px;
      left: 12px;
      &::before {
        top: 0px;
        transform: translateX(-50%);
      }
      &::after {
        left: 0px;
      }
    }
    &-bottomRight {
      top: 0px;
      right: 12px;
      &::before {
        top: 0px;
        transform: translateX(-100%);
      }
      &::after {
        right: 0px;
      }
    }
    &-red {
      color: white;
      &::after,&::before {
        background-color: @primary-color;
      }
    }

    &-black {
      color: white;
      &::after,&::before {
        background-color: #1C1D1D;
      }
    }
  }
  &-red {
    color: #fff;
    background-color: @primary-color;
  }
  &-black {
    color: #fff;
    background-color: #1C1D1D;;
  }
}