@import "../../style/themes/index";
@import "../../style/mixins/index";

@notice-bar: ~"@{uni-prefix}-notice-bar";
@notice-bar-text: ~"@{notice-bar}-text";
@notice-bar-text-multiline: ~"@{notice-bar}-text-multiline";
@notice-bar-text-oneline: ~"@{notice-bar}-text-oneline";

@notice-bar-left-icon: ~"@{notice-bar}-left-icon";
@notice-bar-right-icon: ~"@{notice-bar}-right-icon";

.notice-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    & > div + div{
        margin-top: 20px;
    }
}

.@{notice-bar}-base,
.@{notice-bar}-grey,
.@{notice-bar}-success,
.@{notice-bar}-error,
.@{notice-bar}-warning,
.@{notice-bar}-main,
.@{notice-bar}-supplement {
    font-size: 14px;
    min-height: 35px;
    line-height: 20px;
    display: flex;
    flex-flow: row nowrap;
    user-select: none;
    padding: 10px 0;

    & > .@{notice-bar-left-icon},
    & > .@{notice-bar-right-icon} {
        position: relative;
        padding: 0 8px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & > .@{notice-bar-right-icon}{
        padding: 0px 8px 0px 12px;
    }

    & > .@{notice-bar-left-icon} {
        margin-left: 8px;
    }

    & > .@{notice-bar-right-icon} {
        margin-right: 8px;
    }

    & > .@{notice-bar-text},
    & > .@{notice-bar-text-multiline},
    & > .@{notice-bar-text-oneline} {
        flex: 1;
    }

    & > .@{notice-bar-text-oneline} {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    & > .@{notice-bar-text}:first-of-type {
        margin-left: 16px;
    }

    & > .@{notice-bar-text}:last-of-type {
        margin-right: 16px;
    }

    &:not(.@{notice-bar}-base) {
        & > .@{notice-bar-left-icon} {
            font-size: 18px;

            &::after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 20px;
            }
        }
    }
}

.@{notice-bar}-warning,
.@{notice-bar}-base {
    background-color: #FFF2EB;
    color: #ED6A0C;
}

.@{notice-bar}-grey {
    background-color: #EEF0F0;
    color: #646566;
}

.@{notice-bar}-success {
    background-color: #EBFFF3;
    color: #02A851;
}

.@{notice-bar}-error {
    background-color: #FFEBEF;
    color: #CA0118;
}
.@{notice-bar}-main {
    background-color: #EBF4FF;
    color: #3C81F0;
}

.@{notice-bar}-supplement {
    background-color: rgb(238, 240, 244);
    color: #576B95;
}
