@import '../../style/themes/index';
@import '../../style/mixins/index';

@layout-prefix-cls: ~'@{uni-prefix}-layout';

.@{layout-prefix-cls} {
  &-content-content {
    background-color: @white;
    padding: 16px;
  }

  &-content-card {
    border-radius: 12px;
  }
}


.@{layout-prefix-cls}-card {
  margin: 0px 12px;
}
.@{layout-prefix-cls}-content-card {
  margin-bottom: 10px;
  background-color: @white;
  padding: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}